.row {
  padding: 5px auto;
  &.nowrap {
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 600px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    &.nowrap {
      flex-wrap: nowrap !important;
    }
    &.justify-start {
      justify-content: flex-start;
    }
    &.justify-end {
      justify-content: flex-end;
    }
    &.justify-center {
      justify-content: center;
    }
    &.justify-around {
      justify-content: space-around;
    }
    &.justify-between {
      justify-content: space-between;
    }
    &.justify-evenly {
      justify-content: space-evenly;
    }
  }
  .col {
    flex: 1 1 auto;
  }
}

@mixin col-basic {
  box-sizing: border-box;
  margin: 5px;
  display: flex;
}

.col {
  @include col-basic();

  &.c1 {
    flex-basis: 9%;
  }
  &.c2 {
    flex-basis: 18%;
  }
  &.c3 {
    flex-basis: 29%;
  }
  &.c4 {
    flex-basis: 39%;
  }
  &.c5 {
    flex-basis: 49%;
  }
}
