@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:200,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:200,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:200,400,700&display=swap");
.row {
  padding: 5px auto;
}

.row.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (min-width: 600px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .row.nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
  .row.justify-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row.justify-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row.justify-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row.justify-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row.justify-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col.c1 {
  -ms-flex-preferred-size: 9%;
      flex-basis: 9%;
}

.col.c2 {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
}

.col.c3 {
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
}

.col.c4 {
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
}

.col.c5 {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container {
  padding: 10px;
}

body {
  font-family: "Roboto Slab", serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.card {
  width: 100%;
  position: relative;
}

.card a,
.card .card-body > a,
.card .card-header > a,
.card .card-title > a,
.card .card-subtitle > a {
  text-decoration: none;
}

.card.shadow {
  -webkit-box-shadow: rgba(182, 182, 182, 0.479) 2px 3px 6px;
          box-shadow: rgba(182, 182, 182, 0.479) 2px 3px 6px;
}

.card.bordered {
  border: 1px solid rgba(182, 182, 182, 0.479);
  border-radius: 5px;
  overflow: hidden;
}

.card .card-header {
  background-color: #d6d6d6;
  font-size: 20px;
  padding: 10px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 4px 4px 0px 0px;
}

.card .card-body {
  margin-bottom: 60px;
  padding: 10px;
}

.card .card-body:last-child {
  margin-bottom: 10px !important;
}

.card .card-body .card-title {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 5px;
}

.card .card-body .card-subtitle {
  font-size: 15px;
  color: #8b8b8b;
  padding-bottom: 5px;
}

.card .border-bottom {
  border-bottom: solid 1px rgba(182, 182, 182, 0.479);
  margin-bottom: 10px !important;
}

.card img {
  width: 100%;
  padding: 0px !important;
}

.card img:first-child {
  padding: 0px !important;
  margin-top: 0px !important;
  border-radius: 5px 5px 0px 0px !important;
}

.card img:last-child {
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  bottom: 0px;
}

.card .btn {
  position: absolute;
  right: 5px;
  left: 5px;
  bottom: 10px;
}

.card.primary {
  background-color: #007bff;
  color: #cce5ff;
  border-color: #023f81;
}

.card.primary.bordered {
  border: 1px solid #023f81;
}

.card.primary .card-header {
  background-color: #023f81;
  color: #cce5ff;
}

.card.primary-outline {
  background-color: #cce5ff;
  color: #007bff;
  border-color: #007bff;
  background-color: #fff;
}

.card.primary-outline.bordered {
  border-radius: 5px;
  border: 1px solid;
}

.card.primary-outline .card-header {
  background-color: #cce5ff;
  color: #007bff;
}

.card.secondary {
  background-color: #6c757d;
  color: #d8dbdd;
  border-color: #4b4a4a;
}

.card.secondary.bordered {
  border: 1px solid #4b4a4a;
}

.card.secondary .card-header {
  background-color: #4b4a4a;
  color: #d8dbdd;
}

.card.secondary-outline {
  background-color: #d8dbdd;
  color: #6c757d;
  border-color: #6c757d;
  background-color: #fff;
}

.card.secondary-outline.bordered {
  border-radius: 5px;
  border: 1px solid #6c757d;
}

.card.secondary-outline .card-header {
  background-color: #d8dbdd;
  color: #6c757d;
}

.card.danger {
  background-color: #dc3545;
  color: #fae3e5;
  border-color: #900e1b;
}

.card.danger.bordered {
  border: 1px solid #900e1b;
}

.card.danger .card-header {
  background-color: #900e1b;
  color: #fae3e5;
}

.card.danger-outline {
  background-color: #fae3e5;
  color: #dc3545;
  border-color: #dc3545;
  background-color: #fff;
}

.card.danger-outline.bordered {
  border-radius: 5px;
  border: 1px solid #dc3545;
}

.card.danger-outline .card-header {
  background-color: #fae3e5;
  color: #dc3545;
}

.card.warning {
  background-color: #ffc107;
  color: #fff4d3;
  border-color: #7e620e;
}

.card.warning.card,
.card.warning .card-body {
  color: #7e620e;
}

.card.warning.bordered {
  border: 1px solid #7e620e;
}

.card.warning .card-header {
  background-color: #7e620e;
  color: #fff4d3;
}

.card.warning-outline {
  background-color: #fff4d3;
  color: #ffc107;
  border-color: #ffc107;
  background-color: #fff;
}

.card.warning-outline.bordered {
  border-radius: 5px;
  border: 1px solid #ffc107;
}

.card.warning-outline .card-header {
  background-color: #fff4d3;
  color: #ffc107;
}

.card.success {
  background-color: #28a745;
  color: #afecbd;
  border-color: #0a7423;
}

.card.success.bordered {
  border: 1px solid #0a7423;
}

.card.success .card-header {
  background-color: #0a7423;
  color: #afecbd;
}

body {
  font-family: "Roboto Slab", serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

input#burger {
  display: none;
}

@media only screen and (min-width: 600px) {
  nav .burger-menu {
    display: none;
  }
  nav ul {
    border-radius: 5px;
  }
  nav ul > li.sub {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav ul > li.sub:after {
    content: "";
    margin-top: 8px;
    margin-left: 10px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid;
  }
  nav ul > li.sub ul {
    border: 0.5px solid #4b4a4a;
    border-radius: 5px;
  }
  .main > li.sub:hover > ul {
    position: absolute;
    display: block;
    top: 100%;
  }
  li.sub li.sub:hover > ul {
    display: inline-block;
    top: 0px;
    position: absolute;
    left: 98%;
  }
  .logo img {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 599px) {
  ul.main {
    z-index: 1;
    display: none;
  }
  .logo img {
    margin-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  li.sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  li.sub > a:after {
    content: "";
    right: 20px;
    margin-top: 8px;
    margin-left: 10px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid;
    position: absolute;
  }
  li.sub:hover > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .burger-menu {
    display: block;
  }
  #burger:checked ~ ul.main {
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 50px;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d6d6d6;
  -webkit-box-shadow: rgba(182, 182, 182, 0.479) 2px 3px 6px;
          box-shadow: rgba(182, 182, 182, 0.479) 2px 3px 6px;
  width: 100%;
  height: 50px;
  line-height: 20px;
  font-weight: 200;
}

nav .logo {
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

nav .logo a {
  text-decoration: none;
  color: #333333;
}

nav .logo img {
  height: 30px;
  margin-right: 5px;
}

nav ul.main li {
  padding: 10px;
}

nav .burger-menu {
  background-color: inherit;
  margin-left: 15px;
  margin-right: 5px;
}

nav .burger-menu .bar {
  width: 25px;
  height: 2px;
  background-color: #333333;
  margin: 6px auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  z-index: 1;
  margin: 0px 0px 0px 2px;
  padding: 0px;
  background-color: #d6d6d6;
}

nav ul > li.sub {
  color: #333333;
}

nav ul > li.sub:hover {
  color: #fff;
}

nav ul > li.sub ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}

nav li,
nav li > a {
  color: #333333;
  text-decoration: none;
}

nav li:hover,
nav li > a:hover {
  color: white;
}

nav.dark {
  background-color: #4b4a4a;
}

nav.dark .logo {
  color: #fff;
}

nav.dark .logo a {
  text-decoration: none;
  color: #fff;
}

nav.dark .main,
nav.dark .main li ul {
  background-color: #4b4a4a;
}

nav.dark .main ~ ul {
  border: 0.5px solid #023f81;
}

nav.dark li,
nav.dark li > a,
nav.dark li.sub,
nav.dark a {
  color: #fff;
}

nav.dark li:hover,
nav.dark li > a:hover,
nav.dark li.sub:hover,
nav.dark a:hover {
  color: #7e7d7d;
}

nav.dark .bar {
  background-color: #fff;
}

nav.dark ~ li.sub:after {
  border-top: 5px solid #333333;
  color: #fff;
}

nav.primary {
  background-color: #007bff;
}

nav.primary .logo {
  color: #cce5ff;
}

nav.primary .logo a {
  text-decoration: none;
  color: #cce5ff;
}

nav.primary .main,
nav.primary .main li ul {
  background-color: #007bff;
}

nav.primary .main ~ ul {
  border: 0.5px solid #023f81;
}

nav.primary li,
nav.primary li > a,
nav.primary li.sub,
nav.primary a {
  color: #cce5ff;
}

nav.primary li:hover,
nav.primary li > a:hover,
nav.primary li.sub:hover,
nav.primary a:hover {
  color: #66b0ff;
}

nav.primary .bar {
  background-color: #cce5ff;
}

nav.primary ~ li.sub:after {
  border-top: 5px solid #cce5ff;
  color: #cce5ff;
}

body {
  font-family: "Roboto Slab", serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.btn {
  border-radius: 0.4em;
  border: solid 0.09em;
  padding: 0.5em;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  border-color: rgba(182, 182, 182, 0.479);
  color: #333333;
}

.btn:hover {
  background-color: #607d8b;
}

.btn.primary {
  border-radius: 0.4em;
  border: solid 0.09em;
  padding: 0.5em;
  text-decoration: none;
  overflow: hidden;
  background-color: #007bff;
  color: #cce5ff;
  border-color: #023f81;
}

.btn.primary:hover {
  background-color: #66b0ff;
}

.btn.primary-outline {
  border-radius: 0.4em;
  border: solid 0.09em;
  padding: 0.5em;
  text-decoration: none;
  overflow: hidden;
  background-color: #cce5ff;
  color: #007bff;
  border-color: #007bff;
}

.btn.primary-outline:hover {
  background-color: #66b0ff;
}

.btn.secondary {
  border-radius: 0.4em;
  border: solid 0.09em;
  padding: 0.5em;
  text-decoration: none;
  overflow: hidden;
  background-color: #6c757d;
  color: #d8dbdd;
  border-color: #4b4a4a;
}

.btn.secondary:hover {
  background-color: #a1a8ae;
}

.btn.secondary-outline {
  border-radius: 0.4em;
  border: solid 0.09em;
  padding: 0.5em;
  text-decoration: none;
  overflow: hidden;
  background-color: #d8dbdd;
  color: #6c757d;
  border-color: #6c757d;
}

.btn.secondary-outline:hover {
  background-color: #a1a8ae;
}

.btn.danger {
  border-radius: 0.4em;
  border: solid 0.09em;
  padding: 0.5em;
  text-decoration: none;
  overflow: hidden;
  background-color: #dc3545;
  color: #fae3e5;
  border-color: #900e1b;
}

.btn.danger:hover {
  background-color: #eb8c95;
}

.btn.danger-outline {
  border-radius: 0.4em;
  border: solid 0.09em;
  padding: 0.5em;
  text-decoration: none;
  overflow: hidden;
  background-color: #fae3e5;
  color: #dc3545;
  border-color: #dc3545;
}

.btn.danger-outline:hover {
  background-color: #eb8c95;
}

.btn.warning {
  border-radius: 0.4em;
  border: solid 0.09em;
  padding: 0.5em;
  text-decoration: none;
  overflow: hidden;
  background-color: #ffc107;
  color: #fff4d3;
  border-color: #7e620e;
}

.btn.warning:hover {
  background-color: #ffdb6d;
}

.btn.warning-outline {
  border-radius: 0.4em;
  border: solid 0.09em;
  padding: 0.5em;
  text-decoration: none;
  overflow: hidden;
  background-color: #fff4d3;
  color: #ffc107;
  border-color: #ffc107;
}

.btn.warning-outline:hover {
  background-color: #ffdb6d;
}

.btn.success {
  border-radius: 0.4em;
  border: solid 0.09em;
  padding: 0.5em;
  text-decoration: none;
  overflow: hidden;
  background-color: #28a745;
  color: #afecbd;
  border-color: #0a7423;
}

.btn.success:hover {
  background-color: #5dd879;
}

.btn.success-outline {
  border-radius: 0.4em;
  border: solid 0.09em;
  padding: 0.5em;
  text-decoration: none;
  overflow: hidden;
  background-color: #afecbd;
  color: #28a745;
  border-color: #28a745;
}

.btn.success-outline:hover {
  background-color: #5dd879;
}
/*# sourceMappingURL=zhas.css.map */