@import "../theme.scss";

@mixin st-primary {
  @include primary-color();
  &.bordered {
    border: 1px solid $primary-border-color;
  }
  & .card-header {
    background-color: $primary-border-color;
    color: $primary-text-color;
  }
}

@mixin st-primary-outline {
  @include primary-outline-color();
  background-color: #fff;
  &.bordered {
    border-radius: 5px;
    border: 1px solid;
  }
  & .card-header {
    background-color: lighten($primary-color, 40%);
    color: $primary-color;
  }
}

@mixin st-secondary {
  @include secondary-color();
  &.bordered {
    border: 1px solid $secondary-border-color;
  }
  & .card-header {
    background-color: $secondary-border-color;
    color: $secondary-text-color;
  }
}

@mixin st-secondary-outline {
  @include secondary-outline-color();
  background-color: #fff;
  &.bordered {
    border-radius: 5px;
    border: 1px solid $secondary-color;
  }
  & .card-header {
    background-color: lighten($secondary-color, 40%);
    color: $secondary-color;
  }
}

@mixin st-danger {
  @include danger-color();
  &.bordered {
    border: 1px solid $danger-border-color;
  }
  & .card-header {
    background-color: $danger-border-color;
    color: $danger-text-color;
  }
}

@mixin st-danger-outline {
  @include danger-outline-color();
  background-color: #fff;
  &.bordered {
    border-radius: 5px;
    border: 1px solid $danger-color;
  }
  & .card-header {
    background-color: lighten($danger-color, 40%);
    color: $danger-color;
  }
}

@mixin st-warning {
  @include warning-color();
  &.card,
  .card-body {
    color: $warning-border-color;
  }
  &.bordered {
    border: 1px solid $warning-border-color;
  }
  & .card-header {
    background-color: $warning-border-color;
    color: $warning-text-color;
  }
}

@mixin st-warning-outline {
  @include warning-outline-color();
  background-color: #fff;
  &.bordered {
    border-radius: 5px;
    border: 1px solid $warning-color;
  }
  & .card-header {
    background-color: lighten($warning-color, 40%);
    color: $warning-color;
  }
}

@mixin st-success {
  @include success-color();
  &.bordered {
    border: 1px solid $success-border-color;
  }
  & .card-header {
    background-color: $success-border-color;
    color: $success-text-color;
  }
}

.card {
  width: 100%;
  position: relative;

  & a,
  .card-body > a,
  .card-header > a,
  .card-title > a,
  .card-subtitle > a {
    text-decoration: none;
  }

  &.shadow {
    box-shadow: $border-color 2px 3px 6px;
  }
  &.bordered {
    border: 1px solid $border-color;
    border-radius: 5px;
    overflow: hidden;
  }
  & .card-header {
    background-color: $light-bg-color;
    font-size: 20px;
    padding: 10px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 4px 4px 0px 0px;
  }
  & .card-body {
    margin-bottom: 60px;
    padding: 10px;

    &:last-child {
      margin-bottom: 10px !important;
    }
    & .card-title {
      font-size: 20px;
      font-weight: 400;
      padding-bottom: 5px;
    }
    & .card-subtitle {
      font-size: 15px;
      color: $disabled-text-color;
      padding-bottom: 5px;
    }
  }
  & .border-bottom {
    border-bottom: solid 1px $border-color;
    margin-bottom: 10px !important;
  }
  & img {
    width: 100%;
    padding: 0px !important;
    &:first-child {
      padding: 0px !important;
      margin-top: 0px !important;
      border-radius: 5px 5px 0px 0px !important;
    }
    &:last-child {
      border-radius: 0px 0px 5px 5px;
      margin-bottom: 0px !important;
      padding-bottom: 0px !important;
      bottom: 0px;
    }
  }
  & .btn {
    position: absolute;
    right: 5px;
    left: 5px;
    bottom: 10px;
  }

  &.primary {
    @include st-primary();
  }
  &.primary-outline {
    @include st-primary-outline();
  }
  &.secondary {
    @include st-secondary();
  }
  &.secondary-outline {
    @include st-secondary-outline();
  }
  &.danger {
    @include st-danger();
  }
  &.danger-outline {
    @include st-danger-outline();
  }
  &.warning {
    @include st-warning();
  }
  &.warning-outline {
    @include st-warning-outline();
  }
  &.success {
    @include st-success();
  }
}
