@import "../theme";

input#burger {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  background-color: $bg-color;
  box-shadow: $border-color 2px 3px 6px;
  color: white;
  width: 100%;
  height: 50px;
  line-height: 20px;
  & form {
    display: flex;
    & * {
      margin-left: 5px;
    }
  }
  & .logo {
    display: flex;
    align-items: center;
    color: $light-text-color;
    font-size: 20px;
    width: 100%;
    margin-left: 10px;
    & img {
      max-height: 30px;
      padding: 5px;
    }
  }
  & .burger-menu {
    background-color: $bg-color;
    display: none;
    & .bar {
      width: 25px;
      height: 2px;
      background-color: $light-text-color;
      margin: 6px 20px;
    }
  }
  & ul {
    display: none;
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
    background-color: $bg-color;
    min-width: 100px;
    z-index: 999;
    &.main-element {
      justify-content: flex-end;
      align-items: center;
      // flex-direction: row;
      & li {
        padding: 15px;
        &:hover {
          background-color: $light-bg-color;
          color: $text-color;
        }
      }
    }
    & .sub-nav {
      position: absolute;
    }
    &.sub-nav-1,
    .sub-nav-2 {
      position: absolute;
    }
  }
  & li:hover > ul.sub-nav,
  li:hover > ul.sub-nav-1,
  li:hover > ul.sub-nav-2 {
    display: block;
  }
  & ul li a {
    text-decoration: none;
    color: $light-text-color;
    font-size: 15px;
    font-weight: 200;
    &.sub:after {
      content: "";
      margin-top: 8px;
      margin-left: 3px;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 5px solid $light-text-color;
      position: absolute;
    }
  }
}

@media only screen and (min-width: 600px) {
  ul {
    position: relative;
    &.main-element {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    & .sub-nav {
      margin-top: 15px;
      margin-left: -15px;
    }
    & .sub-nav-1,
    .sub-nav-2 {
      margin-top: -35px;
      margin-left: -115px;
    }
  }
}

@media only screen and (max-width: 599px) {
  nav {
    & form {
      display: none;
    }
    & .burger-menu {
      display: block;
    }
  }

  #burger:checked ~ ul.main-element {
    display: flex;
  }
  ul {
    &.main-element {
      position: absolute;
      top: 30px;
      right: 0px;
      display: none;
      flex-direction: column;
    }
    & .sub-nav {
      position: absolute;
      margin-top: -35px;
      margin-left: -120px;
    }
    &.sub-nav-1,
    .sub-nav-2 {
      margin-top: -35px;
      margin-left: -110px;
    }
  }
}
