@import "../theme";

input#burger {
  display: none;
}

@media only screen and (min-width: 600px) {
  nav {
    & .burger-menu {
      display: none;
    }
    & ul {
      border-radius: 5px;
      & > li.sub {
        position: relative;
        display: flex;
        justify-content: space-between;
        &:after {
          content: "";
          margin-top: 8px;
          margin-left: 10px;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 5px solid;
        }
        & ul {
          border: 0.5px solid $bg-color;
          border-radius: 5px;
        }
      }
    }
  }

  .main > li.sub:hover > ul {
    position: absolute;
    display: block;
    top: 100%;
  }

  li.sub li.sub:hover > ul {
    display: inline-block;
    top: 0px;
    position: absolute;
    left: 98%;
  }
  .logo img {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 599px) {
  ul.main {
    z-index: 1;
    display: none;
  }
  .logo {
    & img {
      margin-left: 0px;
      align-items: center;
    }
  }

  li.sub {
    display: flex;
    flex-direction: column;

    & > a:after {
      content: "";
      right: 20px;
      margin-top: 8px;
      margin-left: 10px;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 5px solid;
      position: absolute;
    }
  }

  li.sub:hover > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .burger-menu {
    display: block;
  }

  #burger:checked ~ ul.main {
    display: inline-block;
    flex-direction: column;
    position: absolute;
    top: 50px;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
}

nav {
  display: flex;
  align-items: center;

  background-color: $light-bg-color;
  box-shadow: $border-color 2px 3px 6px;
  width: 100%;
  height: 50px;
  line-height: 20px;
  font-weight: 200;

  & .logo {
    color: $text-color;

    display: flex;
    align-items: center;
    margin-right: 20px;
    & a {
      text-decoration: none;
      color: $text-color;
    }
    & img {
      height: 30px;
      margin-right: 5px;
    }
  }

  & ul.main {
    & li {
      padding: 10px;
    }
  }
  & .burger-menu {
    background-color: inherit;
    margin-left: 15px;
    margin-right: 5px;
    & .bar {
      width: 25px;
      height: 2px;
      background-color: $text-color;
      margin: 6px auto;
    }
  }

  & ul {
    display: flex;
    list-style: none;
    z-index: 1;
    margin: 0px 0px 0px 2px;
    padding: 0px;

    background-color: $light-bg-color;

    & > li {
      &.sub {
        color: $text-color;
        &:hover {
          color: $light-text-color;
        }
        & ul {
          width: max-content;
          display: none;
        }
      }
    }
  }

  & li,
  li > a {
    color: $text-color;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

  &.dark {
    background-color: $bg-color;
    & .logo {
      color: $light-text-color;
      & a {
        text-decoration: none;
        color: $light-text-color;
      }
    }
    & .main,
    .main li ul {
      background-color: $bg-color;
    }

    & .main ~ ul {
      border: 0.5px solid $primary-border-color;
    }

    & li,
    li > a,
    li.sub,
    a {
      color: $light-text-color;
      &:hover {
        color: lighten($bg-color, 20%);
      }
    }
    & .bar {
      background-color: $light-text-color;
    }
    & ~ li.sub:after {
      border-top: 5px solid $text-color;
      color: $light-text-color;
    }
  }

  &.primary {
    background-color: $primary-color;
    & .logo {
      color: $primary-text-color;
      & a {
        text-decoration: none;
        color: $primary-text-color;
      }
    }
    & .main,
    .main li ul {
      background-color: $primary-color;
    }

    & .main ~ ul {
      border: 0.5px solid $primary-border-color;
    }

    & li,
    li > a,
    li.sub,
    a {
      color: $primary-text-color;
      &:hover {
        color: lighten($primary-color, 20%);
      }
    }
    & .bar {
      background-color: $primary-text-color;
    }
    & ~ li.sub:after {
      border-top: 5px solid $primary-text-color;
      color: $primary-text-color;
    }
  }
}
