@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:200,400,700&display=swap");
body {
  font-family: "Roboto Slab", serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

input[type="checkbox"] {
  display: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4b4a4a;
  -webkit-box-shadow: rgba(182, 182, 182, 0.479) 2px 3px 6px;
          box-shadow: rgba(182, 182, 182, 0.479) 2px 3px 6px;
  color: white;
  width: 100%;
  height: 50px;
  line-height: 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  width: 100%;
  margin-left: 10px;
}

.logo img {
  max-height: 30px;
  padding: 5px;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 6px 20px;
}

.burger-menu {
  background-color: #4b4a4a;
  display: none;
}

@media only screen and (min-width: 600px) {
  ul {
    position: relative;
  }
  ul.main-element {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  ul .sub-nav {
    margin-top: 15px;
    margin-left: -15px;
  }
  ul .sub-nav-1,
  ul .sub-nav-2 {
    margin-top: -35px;
    margin-left: -115px;
  }
}

@media only screen and (max-width: 599px) {
  .burger-menu {
    display: block;
  }
  #burger:checked ~ ul.main-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  ul.main-element {
    position: absolute;
    top: 30px;
    right: 0px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul .sub-nav {
    position: absolute;
    margin-top: -35px;
    margin-left: -120px;
  }
  ul.sub-nav-1,
  ul .sub-nav-2 {
    margin-top: -35px;
    margin-left: -110px;
  }
}

ul {
  display: none;
  list-style: none;
  text-decoration: none;
  padding-left: 0px;
  background-color: #4b4a4a;
  min-width: 100px;
}

ul.main-element {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.main-element li {
  padding: 15px;
}

ul.main-element li:hover {
  background-color: rgba(182, 182, 182, 0.479);
}

ul .sub-nav {
  position: absolute;
}

ul.sub-nav-1,
ul .sub-nav-2 {
  position: absolute;
}

li:hover > ul.sub-nav,
li:hover > ul.sub-nav-1,
li:hover > ul.sub-nav-2 {
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 200;
}

a.sub:after {
  content: "";
  margin-top: 8px;
  margin-left: 3px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
}
/*# sourceMappingURL=navbar.css.map */