@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:200,400,700&display=swap");
body {
  font-family: "Roboto Slab", serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

input#burger {
  display: none;
}

@media only screen and (min-width: 600px) {
  nav .burger-menu {
    display: none;
  }
  nav ul {
    border-radius: 5px;
  }
  nav ul > li.sub {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav ul > li.sub:after {
    content: "";
    margin-top: 8px;
    margin-left: 10px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid;
  }
  nav ul > li.sub ul {
    border: 0.5px solid #4b4a4a;
    border-radius: 5px;
  }
  .main > li.sub:hover > ul {
    position: absolute;
    display: block;
    top: 100%;
  }
  li.sub li.sub:hover > ul {
    display: inline-block;
    top: 0px;
    position: absolute;
    left: 98%;
  }
  .logo img {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 599px) {
  ul.main {
    z-index: 1;
    display: none;
  }
  .logo img {
    margin-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  li.sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  li.sub > a:after {
    content: "";
    right: 20px;
    margin-top: 8px;
    margin-left: 10px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid;
    position: absolute;
  }
  li.sub:hover > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .burger-menu {
    display: block;
  }
  #burger:checked ~ ul.main {
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 50px;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d6d6d6;
  -webkit-box-shadow: rgba(182, 182, 182, 0.479) 2px 3px 6px;
          box-shadow: rgba(182, 182, 182, 0.479) 2px 3px 6px;
  width: 100%;
  height: 50px;
  line-height: 20px;
  font-weight: 200;
}

nav .logo {
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

nav .logo a {
  text-decoration: none;
  color: #333333;
}

nav .logo img {
  height: 30px;
  margin-right: 5px;
}

nav ul.main li {
  padding: 10px;
}

nav .burger-menu {
  background-color: inherit;
  margin-left: 15px;
  margin-right: 5px;
}

nav .burger-menu .bar {
  width: 25px;
  height: 2px;
  background-color: #333333;
  margin: 6px auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  z-index: 1;
  margin: 0px 0px 0px 2px;
  padding: 0px;
  background-color: #d6d6d6;
}

nav ul > li.sub {
  color: #333333;
}

nav ul > li.sub:hover {
  color: #fff;
}

nav ul > li.sub ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}

nav li,
nav li > a {
  color: #333333;
  text-decoration: none;
}

nav li:hover,
nav li > a:hover {
  color: white;
}

nav.dark {
  background-color: #4b4a4a;
}

nav.dark .logo {
  color: #fff;
}

nav.dark .logo a {
  text-decoration: none;
  color: #fff;
}

nav.dark .main,
nav.dark .main li ul {
  background-color: #4b4a4a;
}

nav.dark .main ~ ul {
  border: 0.5px solid #023f81;
}

nav.dark li,
nav.dark li > a,
nav.dark li.sub,
nav.dark a {
  color: #fff;
}

nav.dark li:hover,
nav.dark li > a:hover,
nav.dark li.sub:hover,
nav.dark a:hover {
  color: #7e7d7d;
}

nav.dark .bar {
  background-color: #fff;
}

nav.dark ~ li.sub:after {
  border-top: 5px solid #333333;
  color: #fff;
}

nav.primary {
  background-color: #007bff;
}

nav.primary .logo {
  color: #cce5ff;
}

nav.primary .logo a {
  text-decoration: none;
  color: #cce5ff;
}

nav.primary .main,
nav.primary .main li ul {
  background-color: #007bff;
}

nav.primary .main ~ ul {
  border: 0.5px solid #023f81;
}

nav.primary li,
nav.primary li > a,
nav.primary li.sub,
nav.primary a {
  color: #cce5ff;
}

nav.primary li:hover,
nav.primary li > a:hover,
nav.primary li.sub:hover,
nav.primary a:hover {
  color: #66b0ff;
}

nav.primary .bar {
  background-color: #cce5ff;
}

nav.primary ~ li.sub:after {
  border-top: 5px solid #cce5ff;
  color: #cce5ff;
}
/*# sourceMappingURL=navbar.css.map */